*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffcd9f; 

}

.Hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:250px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.btn{
    text-decoration: none;
    color:yellow;
    background:black;
    padding:20px 20px;
    border-radius: 12px;
    margin-top:20px;
}

.head{
    font-size:40px;
    color: blueviolet;
}

#pl{
    color:cadetblue;
    margin-top:30px;
}
.image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 42px;
    box-shadow: 10px 10px 10px 10px rgba(9, 157, 237, 0.2)

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:50px 100px;
}

.name{
    color: rebeccapurple;
    font-size: 24px;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap:2rem;
}

.section-title{
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
    color:blueviolet;
}

.photo-grid {
    width: 100%;
    max-width: 1000x; 
    height: auto;
    border-radius: 42px;
    margin: 40px auto;
    padding: 20px;
    background-color:#ffcd9f ; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}


